/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    //  flavor = "tap-preferred";
    // tapping-term-ms = <200>;
};

/ {
    combos {
        compatible = "zmk,combos";

        combo_esc {
            timeout-ms = <50>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };

        combo_tab {
            timeout-ms = <50>;
            key-positions = <10 11>;
            bindings = <&kp TAB>;
        };

        combo_ralt {
            timeout-ms = <50>;
            key-positions = <17 16>;
            bindings = <&kp RALT>;
        };

        combo_lalt {
            timeout-ms = <50>;
            key-positions = <11 12>;
            bindings = <&kp LALT>;
        };

        combo_lgui {
            timeout-ms = <50>;
            key-positions = <12 13>;
            bindings = <&kp LGUI>;
        };

        combo_rgui {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp RGUI>;
        };

        mo_num {
            bindings = <&mo 3>;
            key-positions = <30 33>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q  &kp W           &kp F  &kp P  &kp B    &kp J  &kp L  &kp U      &kp Y      &kp SEMICOLON
&kp A  &kp R           &kp S  &kp T  &kp G    &kp M  &kp N  &kp E      &kp I      &kp O
&kp Z  &kp X           &kp C  &kp D  &kp V    &kp K  &kp H  &kp COMMA  &kp DOT    &kp SLASH
&mo 2  &kp LEFT_SHIFT                                                  &kp SPACE  &mo 1
            >;
        };

        sym {
            bindings = <
&kp ESCAPE  &kp LEFT_BRACKET  &kp LEFT_BRACE  &kp LEFT_PARENTHESIS  &kp TILDE      &kp CARET  &kp RIGHT_PARENTHESIS  &kp RIGHT_BRACE  &kp RIGHT_BRACKET  &kp GRAVE
&kp MINUS   &kp ASTERISK      &kp EQUAL       &kp UNDERSCORE        &kp DOLLAR     &kp HASH   &kp RIGHT_GUI          &kp RIGHT_ALT    &kp RIGHT_CONTROL  &kp RIGHT_SHIFT
&kp PLUS    &kp PIPE          &kp AT_SIGN     &kp SLASH             &kp PERCENT    &kp MINUS  &kp BACKSLASH          &kp AMPERSAND    &kp QUESTION       &kp EXCLAMATION
&mo 2       &kp LEFT_SHIFT                                                                                                            &kp SPACE          &mo 1
            >;
        };

        nav {
            bindings = <
&kp TAB         &kp ATSN        &kp HASH      &kp DLLR       &kp PRCT            &kp CRRT   &kp AMPS       &kp UP       &kp HOME   &kp DEL
&kp LEFT_SHIFT  &kp LCTRL       &kp LEFT_ALT  &kp LEFT_GUI   &kp SCLN            &kp MINUS  &kp LEFT       &kp DOWN     &kp RIGHT  &kp BACKSPACE
&kp LSFT        &kp KPLS        &kp K_BACK    &kp K_FORWARD  &kp K_PLAY_PAUSE    &kp UNDER  &kp PAGE_DOWN  &kp PAGE_UP  &kp END    &kp ENTER
&mo 2           &kp LEFT_SHIFT                                                                                          &kp SPACE  &mo 1
            >;
        };

        num {
            bindings = <
&kp NUM_1   &kp NUM_2   &kp NUM_3   &kp NUM_4  &kp NUM_5    &trans  &trans     &trans        &trans      &trans
&kp F1      &kp F2      &kp F3      &kp F4     &kp F5       &trans  &kp PG_UP  &kp K_VOL_UP  &kp K_MUTE  &trans
&bt BT_CLR  &bt BT_NXT  &bt BT_PRV  &kp F6     &kp F7       &trans  &kp PG_DN  &kp K_VOL_DN  &trans      &trans
&trans      &trans                                                                           &trans      &trans
            >;
        };
    };
};
